In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [37]:
df = pd.read_excel('/gdrive/MyDrive/stock.xlsx')
df.head(30)

      year  ... Unnamed: 3
0   1997.0  ...        NaN
1   1998.0  ...        NaN
2   1999.0  ...        NaN
3   2000.0  ...        NaN
4   2001.0  ...        NaN
5   2002.0  ...        NaN
6   2003.0  ...        NaN
7   2004.0  ...        NaN
8   2005.0  ...        NaN
9   2006.0  ...        NaN
10  2007.0  ...        NaN
11  2008.0  ...        NaN
12  2009.0  ...        NaN
13  2010.0  ...        NaN
14  2011.0  ...        NaN
15  2012.0  ...        NaN
16  2013.0  ...        NaN
17  2014.0  ...        NaN
18  2015.0  ...        NaN
19  2016.0  ...        NaN
20  2017.0  ...        NaN
21  2018.0  ...        NaN
22  2019.0  ...        NaN
23  2020.0  ...        NaN
24  1977.0  ...        NaN
25  1978.0  ...        NaN
26  1980.0  ...        NaN
27  1980.0  ...        NaN
28  1980.0  ...        NaN
29  1980.0  ...        NaN

[30 rows x 4 columns]

24부터 버크셔인것을 확인 할 수 있다. 
일단 id 칼럼부터 따로 떼어내구

In [38]:
df1 = df.loc[:,'year':'id']
df1.dropna()

       year          id
0    1997.0      amazon
1    1998.0      amazon
2    1999.0      amazon
3    2000.0      amazon
4    2001.0      amazon
..      ...         ...
99   2018.0  Berkshire
100  2018.0  Berkshire
101  2019.0  Berkshire
102  2019.0  Berkshire
103  2019.0  Berkshire

[104 rows x 2 columns]

' . '을 기준으로 분리해준다 (문장단위)

In [39]:
split = df.document.str.split('.')
split

0      [Amazon, com passed many milestones in 1997: b...
1      [The last 31⁄2 years have been exciting,  We’v...
2      [The first 41⁄2 years of our journey have yiel...
3      [Ouch,  It’s been a brutal year for many in th...
4      [In July of last year, Amazon, com reached an ...
                             ...
588                                                  NaN
589                                                  NaN
590                                                  NaN
591                                                  NaN
592                                                  NaN
Name: document, Length: 593, dtype: object

In [40]:
split = split.apply(lambda x: pd.Series(x))
split

                                                  0     ... 1672
0                                               Amazon  ...  NaN
1               The last 31⁄2 years have been exciting  ...  NaN
2    The first 41⁄2 years of our journey have yield...  ...  NaN
3                                                 Ouch  ...  NaN
4                         In July of last year, Amazon  ...  NaN
..                                                 ...  ...  ...
588                                                NaN  ...  NaN
589                                                NaN  ...  NaN
590                                                NaN  ...  NaN
591                                                NaN  ...  NaN
592                                                NaN  ...  NaN

[593 rows x 1673 columns]

In [41]:
split.stack()

0    0                                                 Amazon
     1      com passed many milestones in 1997: by year-en...
     2      5 million customers, yielding 838% revenue gro...
     3      8 million, and\nextended our market leadership...
     4      \nBut this is Day 1 for the Internet and, if w...
                                  ...
103  543     Thought and principles, not robot-like “proce...
     544    \nIn representing your interests, they will, o...
     545                   \n13\nThose objectives are not new
     546     They were the goals of able CEOs sixty years ...
     547                        Who would\nhave it otherwise?
Length: 31368, dtype: object

In [42]:
split.stack().reset_index(level=1, drop=True)

0                                                 Amazon
0      com passed many milestones in 1997: by year-en...
0      5 million customers, yielding 838% revenue gro...
0      8 million, and\nextended our market leadership...
0      \nBut this is Day 1 for the Internet and, if w...
                             ...
103     Thought and principles, not robot-like “proce...
103    \nIn representing your interests, they will, o...
103                   \n13\nThose objectives are not new
103     They were the goals of able CEOs sixty years ...
103                        Who would\nhave it otherwise?
Length: 31368, dtype: object

In [46]:
split = split.stack().reset_index(level=1, drop=True).to_frame('document')
split

                                              document
0                                               Amazon
0    com passed many milestones in 1997: by year-en...
0    5 million customers, yielding 838% revenue gro...
0    8 million, and\nextended our market leadership...
0    \nBut this is Day 1 for the Internet and, if w...
..                                                 ...
103   Thought and principles, not robot-like “proce...
103  \nIn representing your interests, they will, o...
103                 \n13\nThose objectives are not new
103   They were the goals of able CEOs sixty years ...
103                      Who would\nhave it otherwise?

[31368 rows x 1 columns]

총 31368개의 행으로 이루어진 데이터프레임을 얻을 수 있다.

In [32]:
merge = pd.merge(df1,split, how='outer', left_index=True, right_index=True)
merge_df = merge.dropna()
merge_df

       year          id                                           document
0    1997.0      amazon                                             Amazon
0    1997.0      amazon  com passed many milestones in 1997: by year-en...
0    1997.0      amazon  5 million customers, yielding 838% revenue gro...
0    1997.0      amazon  8 million, and\nextended our market leadership...
0    1997.0      amazon  \nBut this is Day 1 for the Internet and, if w...
..      ...         ...                                                ...
103  2019.0  Berkshire    Thought and principles, not robot-like “proce...
103  2019.0  Berkshire   \nIn representing your interests, they will, o...
103  2019.0  Berkshire                  \n13\nThose objectives are not new
103  2019.0  Berkshire    They were the goals of able CEOs sixty years ...
103  2019.0  Berkshire                       Who would\nhave it otherwise?

[31368 rows x 3 columns]

In [60]:
merge_df.to_excel('/gdrive/MyDrive/Colab Notebooks/merge_df.xlsx', index=False)